<%#大枠%>
<section class="sagaseru-index-content">

  <%#タイトル%>
  <p class="sageseru-index-title">ご入居希望者様を探す</p>
  <%#//タイトル%>

  <div class="module-spacer--medium"></div>

  <%#登録者一覧%>
  <div class="sagaseru-indexes">
    <table>
      <thead>
        <tr>
          <th>都道府県</th>
          <th>市町村</th>
          <th>ご希望のサービス種別</th>
          <th>障がいの種別</th>
          <th>性別</th>
          <th>ご年齢</th>
          <th>更新日</th>
        </tr>
      </thead>
      <tbody>
        <% @sagaserus.each do |sagaseru| %>
        <tr>
          <td><%= sagaseru.prefecture.name %></td>
          <td><%= sagaseru.osaka_city.name %></td>
          <td><%= sagaseru.service_type.name %></td>
          <td><%= sagaseru.disability_type.name %></td>
          <td><%= sagaseru.sex.name %></td>
          <td><%= "#{sagaseru.age}歳" %></td>
          <td><%= sagaseru.updated_at.strftime("%Y-%m-%d ") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%#//登録者一覧%>

</section>
<%#//大枠%>