<%= render partial: 'shared/header' %>
<%= render partial: 'shared/flash' %>

<div class="module-spacer--medium"></div>

<div class="session-content">
  <h2 class="session-title">ログイン画面<span> - 事業所 -</span></h2>

  <div class="module-spacer--large"></div>

  <%= form_with model: @company, url: company_session_path, class: 'session-fields', local: true do |f| %>

  <div class="session-field">
    <div class="session-field-1">
      <%= f.label :email, "登録しているメールアドレス" %>
      <span>（必須）</span>
    </div>
    <%= f.email_field :email, placeholder: "例）taro@gmail.com", autofocus: true %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="session-field">
    <div class="session-field-1">
      <%= f.label :password, "パスワード" %>
      <span>（必須）</span>
    </div>
    <%= f.password_field :password %>
  </div>

  <div class="module-spacer--large"></div>

  <div class="session-field-button">
    <%= f.submit "ログイン" %>
  </div>

  <div class="module-spacer--medium"></div>

  <%= link_to "新規登録はこちら", new_company_registration_path %>

  <div class="module-spacer--medium"></div>

  <%= link_to "パスワードをお忘れの方はこちら", new_company_password_path %>

  <% end %>
</div>

<%= render partial: 'shared/footer' %>