<%#ヘッダー%>
<div class="hamburger_content">

  <%#左上のハンバーガーメニュー%>
  <input id="menu" type="checkbox">
  <label for="menu" class="open">
    <span>管理メニュー</span>
  </label>
  <label for="menu" class="close-2"></label>
  <%#//左上のハンバーガーメニュー%>


  <%#ハンバーガーメニュークリック後に表示されるコンテンツ%>
  <div class="content">
    <ul class="content-lists">

      <li>
        <%= link_to sagaserus_path, class: "registration-img" do %>
        <i class="fas fa-users"></i>
        <span>希望利用者一覧</span>
        <% end %>
      </li>
      <li>
        <%= link_to root_path, class: "registration-img" do %>
        <i class="fas fa-flag-checkered"></i>
        <span>お知らせ</span>
        <% end %>
      </li>
      <li>
        <%= link_to company_path(current_company), class: "registration-img" do %>
        <i class="fas fa-user"></i>
        <span>ユーザー情報</span>
        <% end %>
      </li>
      <li>
        <%= link_to lists_company_ghs_ghs_path, class: "registration-img" do %>
        <i class="fas fa-home"></i>
        <span>事業所情報</span>
        <% end %>
      </li>
      <li>
        <%= link_to sagaseru_favorites_path(current_company), class: "registration-img" do %>
        <i class="far fa-address-book"></i>
        <span>希望利用者の申請状況</span>
        <% end %>
      </li>
      <li>
        <%= link_to company_password_path, class: "registration-img", method: :put do %>
        <i class="fas fa-key"></i>
        <span>パスワードの変更</span>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_company_session_path, class: "registration-img", method: :delete do %>
        <i class="fas fa-sign-out-alt"></i>
        <span>ログアウト</span>
        <% end %>
      </li>
    </ul>
  </div>
  <%#//ハンバーガーメニュークリック後に表示されるコンテンツ%>

</div>