<%= render partial: 'shared/header' %>
<%= render partial: 'shared/flash' %>

<div class="module-spacer--medium"></div>

<div class="registration-edit-content">
  <h2 class="registration-edit-title">編集画面<span> - 病院・相談所 -</span></h2>

  <div class="module-spacer--medium"></div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'registration-edit-fields' }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :main_company_name, "病院名・もしくは法人名" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :main_company_name %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :sub_company_name, "事業所名" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :sub_company_name %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :postal_code, "郵便番号（半角）「病院もしくは法人」" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :postal_code %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :address_city, "住所（市区町村）「病院もしくは法人」" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :address_city %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :address_street, " ー 住所（番地）" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :address_street %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :address_building, " ー 住所（建物名、部屋番号）" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :address_building %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :human_name, "ご担当者名" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :human_name %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :phone_number, "ご担当者の電話番号（半角、ハイフン無し）" %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-edit-field">
    <div class="registration-edit-field-1">
      <%= f.label :email %>
    </div>
    <div class="registration-edit-field-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="module-spacer--large"></div>

  <div class="registration-edit-field-button">
    <%= f.submit "情報変更" %>
  </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>