<div class="registration-new-content">
  <h2 class="registration-new-title">新規登録画面<span> - 病院・相談所 -</span></h2>

  <div class="module-spacer--medium"></div>

  <%= form_with model: @user, url: user_registration_path, class: 'registration-new-fields', local: true do |f| %>

  <div class="registration-new-field">

    <% if @user.errors.include?(:main_company_name) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:main_company_name).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :main_company_name, "病院名・もしくは法人名" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :main_company_name, placeholder: "例）○○病院、株式会社○○" %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">
    <div class="registration-new-field-2">
      <%= f.label :sub_company_name, "事業所名" %>
      <span>（任意）</span>
    </div>
    <%= f.text_field :sub_company_name, placeholder: "例）相談支援事業所○○" %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field-check">

    <% if @user.errors.include?(:service_type) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:service_type).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-check-1">
      <%= f.label :service_type, '病院・もしくは法人が提供しているサービスの種別' %>
      <span>（必須、複数選択可）</span>
    </div>
    <div class="registration-new-field-check-2">
      <% [
      "病院・クリニック",
      "計画相談支援",
      "障がい児相談支援",
      "障害児相談支援",
      "地域移行支援",
      "居宅介護",
      "重度訪問介護",
      "同行援護",
      "行動援護",
      "療養介護",
      "生活介護",
      "短期入所",
      "重度障害者等包括支援",
      "施設入所支援",
      "難自立訓練（機能訓練）",
      "自立訓練（生活訓練）",
      "就労移行支援",
      "就労継続支援A型",
      "就労継続支援B型",
      "就労定着支援",
      "自立生活援助",
      "共同生活援助",
      "児童発達支援",
      "医療型児童発達支援",
      "放課後等デイサービス",
      "居宅訪問型児童発達支援",
      "保育所等訪問支援",
      "福祉型障害児入所施設",
      "医療型障害児入所施設",
      ].each do |service_type| %>
      <div class="registration-new-field-check-3">
        <%= f.check_box :service_type, { id: "service_type#{service_type}", multiple: true, include_hidden: false, class: 'service_type' }, service_type %>
        <%= f.label :service_type, service_type, for: "service_type#{service_type}" %>
      </div>
      <% end %>
      <div class="registration-new-field-check-3">
        <%= f.check_box :service_type, { id: "service_typeその他", multiple: true, include_hidden: false }, 'その他' %>
        <%= f.label :service_type, 'その他', for: "service_typeその他" %>
        <%= f.text_field :service_type, class: 'service_type_textfield', placeholder: '例）○○サービス', multiple: true, disabled: true %>
      </div>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:postal_code) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:postal_code).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :postal_code, "郵便番号（半角）「病院もしくは法人」" %>
      <span>（必須）</span>
    </div>
    <div class="registration-new-field-2">
      <%= f.text_field :postal_code, placeholder: "例）1234567（ハイフン無し）", maxlength: 7, id: 'postal_code' %>
      <span><button id="address_btn">住所検索</button></span>
    </div>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:address_city) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:address_city).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :address_city, "住所（市区町村）「病院もしくは法人」" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :address_city, id: 'address_city' %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:address_street) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:address_street).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :address_street, " ー 住所（番地）" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :address_street, id: 'address_street' %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:address_building) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:address_building).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :address_building, " ー 住所（建物名、部屋番号）" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :address_building, id: 'address_building' %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:human_name) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:human_name).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :human_name, "ご担当者名" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :human_name, placeholder: "例）山田 太郎" %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:phone_number) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:phone_number).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :phone_number, "ご担当者の電話番号（半角、ハイフン無し）" %>
      <span>（必須）</span>
    </div>
    <%= f.text_field :phone_number, placeholder: "例）08072831647" %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:email) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:email).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :email, "ご担当者のメールアドレス" %>
      <span>（必須）</span>
    </div>
    <%= f.email_field :email, placeholder: "例）taro@gmail.com" %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:password) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:password).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :password, "パスワード（8桁以上の半角英数字混在）" %>
      <span>（必須）</span>
    </div>
    <%= f.password_field :password %>
  </div>

  <div class="module-spacer--medium"></div>

  <div class="registration-new-field">

    <% if @user.errors.include?(:password_confirmation) %>
    <p class="alert_danger" style=" color: red;">
      <%= @user.errors.full_messages_for(:password_confirmation).first %>
    <div class="module-spacer--small"></div>
    <% end %>

    <div class="registration-new-field-1">
      <%= f.label :password_confirmation, "パスワード(確認用)" %>
      <span>（必須）</span>
    </div>
    <%= f.password_field :encrypted_password %>
  </div>

  <div class="module-spacer--large"></div>

  <div class="registration-new-field-button">
    <%= f.submit "新規登録" %>
  </div>

  <div class="module-spacer--medium"></div>

  <%= link_to "既に登録している方はこちら（ログイン）", new_user_session_path %>

  <% end %>
</div>

<%= javascript_pack_tag "users/new" %>
<%= javascript_pack_tag "shared/address" %>